<% parent_class = ' active' %>

<div class="left">
      <ul class="nav nav-pills nav-stacked" role="tablist">

         <li role="presentation" class="<%= parent_class if current_page?(admin_staffs_path) %>">
         <a href="#staff" class="nav-header collapse" data-toggle="collapse"><i class="glyphicon glyphicon-user"></i>&nbsp员工管理</a> </li>
          <ul id="staff" class="nav nav-list collapse">
            <% if can?(1)%>
              <li role="presentation" class="<%= parent_class if current_page?(admin_staffs_path) %>">
              <a href="<%= admin_staffs_path %>" style="padding-left: 30px;">员工列表</a></li>
            <% end %>
            <% if can?(2)%>
              <li role="presentation" class="<%= parent_class if current_page?(admin_staff_transfers_path) %>">
              <a id="staff-manager" href="<%= admin_staff_transfers_path %>" style="padding-left: 30px;">部门(仓库)调动</a></li>
            <% end %>
          </ul>

        <li role="presentation" class="<%= parent_class if current_page?(admin_roles_path) %>"><a href="<%= admin_roles_path %>" class="nav-header <%= parent_class if current_page?(admin_roles_path) %>"><i class="glyphicon glyphicon-tasks"></i>&nbsp角色管理</a> </li>
          
      </ul>
  </div>

</div>

